[Desktop Entry]
Name=CLion 2026.1.1
Exec="/home/Inmemorialake/.local/share/JetBrains/Toolbox/apps/clion/bin/clion" %u
Version=1.0
Type=Application
Categories=Development;IDE;
Terminal=false
Icon=jetbrains-clion-6c02f6dd-0410-4374-8221-bdbe04002bae
X-Icon-Path=/home/Inmemorialake/.local/share/icons/hicolor/scalable/apps/jetbrains-clion-6c02f6dd-0410-4374-8221-bdbe04002bae.svg
X-Installed-Icon-Cache-Path=/home/Inmemorialake/.local/share/icons/hicolor
X-Icon-Name-Before-Sanitization=jetbrains-clion-6c02f6dd-0410-4374-8221-bdbe04002bae.desktop.icon.svg
Comment=A cross-platform C and C++ IDE
StartupWMClass=jetbrains-clion
StartupNotify=true
